.body {
  position: relative;
  width: 1600px;
  height: 920px;
}
:root {
  --button-color: #fc569a;
}
.main {
  position: absolute;
  width: 1600px;
  height: 920px;
  left: 0px;
  top: 0px;
  font-style: normal;

  &__left a {
    position: absolute;
    width: 95.25px;
    height: 40.61px;
    left: 55.94px;
    top: 37px;
    font-family: Circular Std;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: #0a1b32;
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      margin-top: 28px;
      margin-left: 3px;
      background: violet;
      border: 1px solid violet;
      border-radius: 100%;
    }
  }
  &__redirect {
    float: left;
    list-style: none;
    color: #1b0a42;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    &__link {
      list-style-type: none;

      &__home {
        position: absolute;
        width: 45px;
        height: 24px;
        left: 272.76px;
        top: 48px;
        text-align: center;
      }
      & a {
        text-decoration: none;
      }
      &__about {
        position: absolute;
        width: 44px;
        height: 24px;
        left: 355.76px;
        top: 48px;
        text-align: center;
      }
      & a {
        text-decoration: none;
      }
      &__blog {
        position: absolute;
        width: 33px;
        height: 24px;
        left: 439.76px;
        top: 48px;
        text-align: center;
      }
      & a {
        text-decoration: none;
      }
      &__contact {
        position: absolute;
        width: 58px;
        height: 24px;
        left: 510.76px;
        top: 48px;
        text-align: center;
      }
      & a {
        text-decoration: none;
      }
    }
  }
  &__right {
    position: absolute;
    width: 51px;
    height: 24px;
    left: 1320.96px;
    top: 48px;
    text-align: center;
    & a {
      text-decoration: none;
    }
    &__button {
      position: absolute;
      width: 120px;
      height: 59.65px;
      float: left;
      margin-left: 60px;
      margin-top: -15px;
      background-color: var(--button-color);
      border-radius: 6px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      & p {
        position: absolute;
        width: 58px;
        height: 24px;
        left: 30px;
        margin-top: 18px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
      }
    }
  }
}
.section {
  float: left;
  font-style: normal;
  &__left {
    & span {
      position: absolute;
      width: 495px;
      height: 152px;
      left: 200px;
      top: 280.71px;
      font-family: Ramaraja;
      font-weight: bold;
      font-size: 52px;
      line-height: 76px;
      letter-spacing: 0.02em;
      color: #1b0a42;
    }
    & p {
      position: absolute;
      width: 561.49px;
      height: 96px;
      left: 200px;
      top: 442.71px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: #9a9a9a;
    }
    &__button {
      position: absolute;
      width: 152px;
      height: 63.82px;
      left: 200px;
      top: 588.71px;
      background: var(--button-color);
      border-radius: 6px;
      & p {
        position: absolute;
        width: 87.57px;
        height: 27.82px;
        left: 32px;
        margin-top: -425.71px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: white;
      }
    }
  }
  &__right img {
    position: absolute;
    width: 778px;
    height: 526px;
    left: 800px;
    top: 205px;
  }
}
